
  <header id="header" class="d-flex align-items-center section-header">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
         <a href="{{ path('app_home') }}"><img src="{{ asset('assets/img/logo-sec.jpg') }}" alt="GP-SEC" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{{ path('app_home') }}">GP-SEC</a></li>
          <li><a href="#about">Qui sommes-nous ?</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#products">Produits</a></li>
          <li><a href="#recent-posts">Actualités</a></li>
          
          <li><a href="#footer">Contactez-vous</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    <a href="http://gp-sec.com/demander-un-devis/" class="btn btn--red btn-get-started  animate__animated animate__fadeInUp">Demander un devis</a>
    </div>
  </header>
