<form method="post" action="{{ path('app_category_product_delete', {'id': category_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_product.id) }}">
    <button class="btn">Delete</button>
</form>
