{% extends 'base.html.twig' %}

{% block title %}New CategoryProduct{% endblock %}

{% block body %}
    <h1>Create new CategoryProduct</h1>

    {{ include('category_product/_form.html.twig') }}

    <a href="{{ path('app_category_product_index') }}">back to list</a>
{% endblock %}
