/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #060550;
    padding: 10px 0;
    font-size: 14px;
  }
  
  #topbar .contact-info i {
    font-style: normal;
    color: $color-primary;
  }
  
  #topbar .contact-info i a,
  #topbar .contact-info i span {
    padding-left: 5px;
    color: $color-white;
  }
  
  #topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
  }
  
  #topbar .contact-info i a:hover {
    color: $color-primary-dark;
  }
  
  #topbar .social-links a {
    color: #bababa;
    line-height: 0;
    transition: 0.3s;
    margin-left: 10px;
  }
  
  #topbar .social-links a:hover {
    color: $color-white;
  }