<section id="about" class="about"  data-aos="fade-up">
      <div class="container aos-init aos-animate">

        <div class="section-title">
         <h2>Qui sommes-nous</h2>
            <p>
                 Software Engineering Company, SEC
            </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up-right" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="" data-aos-delay="125">
            <p class="justify-text">
                Software Engineering Company « SEC » située à l’adresse 1454 Colonel Ebeya, immeuble PASHA, 1er niveau, Commune de la Gombe, dans la province de Kinshasa ; est une entreprise d’intégration des solutions informatiques de droit congolais intervenant dans le domaine de la nouvelle technologie de l’information et de la télécommunication, depuis plus de 15 ans.
            </p>
           <!-- <p class="justify-text"> Elle représente les firmes internationales mondialement reconnues comme « Evolis France » dont sa spécificité est la conception, la fabrication et la commercialisation des imprimantes adaptées aux émissions des cartes biométries hyper sécurisées.</p>-->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-up-left" data-aos-delay="100">
            <p class="justify-text">Outre Evolis, nous commercialisons et  distribuons des produits fabriqués par :</p>
            <ul>
                
              <li><i class="bi bi-check-circle"></i> <span class="partner-name">Suprema.inc</span> à Corée du sud</li>
              <li><i class="bi bi-check-circle"></i> <span class="partner-name">Screen Check</span> à Dubaï, </li>
              <li><i class="bi bi-check-circle"></i> <span class="partner-name">CardPresso</span> au Portugal</li>
              <li><i class="bi bi-check-circle"></i> <span class="partner-name">Grandstream</span> aux USA, 
                <span class="partner-name">NEC</span> au Japon,
                <span class="partner-name">Proline</span> à UK,
                <span class="partner-name">	Trodat stamp</span>, <span class="partner-name"> Shiny Stamp </span>, <span class="partner-name"> Brother Stamp </span>, <span class="partner-name"> NEO  China</span>

              </li>
            </ul>
            <p>
              
            </p>
            <img src="assets/img/about2.jpg" class="img-fluid rounded-4 mb-4" alt="" data-aos-delay="125">
          </div>
        </div>

      </div>
    </section>