<form method="post" action="{{ path('app_dashboard_category_news_delete', {'id': category_news.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_news.id) }}">
    <button class="btn btn--white"><i class="fa fa-trash"></i> Delete</button>
</form>
