{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1>Edit Service</h1>

    {{ include('dashboard/service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard_service_index') }}">back to list</a>

    {{ include('dashboard/service/_delete_form.html.twig') }}
{% endblock %}
